<h2>Reforzando conocimientos de Angular</h2>
<hr>

<!-- Home -->

<div class="row">

  <div class="col-3">

    <h3>Home</h3>
    <hr>
    <ul class="list-group mb-3">
      <li class="list-group-item"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</li>
    </ul>


    <!-- Autenticación -->
    <h3>Autenticación</h3>
    <ul class="list-group mb-3">
      <li class="list-group-item"
          routerLink="auth/login"
          routerLinkActive="active"
        >Login</li>
      
      
      <li class="list-group-item"
        routerLink="auth/register"
        routerLinkActive="active"
        >Registro</li>
    </ul>



    <!-- Productos -->
    <h3>Productos</h3>
    <ul class="list-group mb-3">
      <li class="list-group-item"
        routerLink="products/products-list"
        routerLinkActive="active"
        >Lista Productos</li>
    </ul>


  </div>



  <div class="col">

    <router-outlet></router-outlet>
  
  </div>


</div>